<body>
    <div class="txt1"><b> TWITTER MARKETING </b><br> pellentesque habitant morbi <br> tristique senectus et netus et <br> malesuada fames ac turrpis 
        <br>  egestas. Vestibulum totor <br> quam, feugiat vitae</div>
        <div class="txt2"><b> FACEBOOK </b> <br> <b>MARKETING </b><br> Pellentesque habitant morbi <br> tristique senectus et netus et <br> malesuada fames ac turrpis 
            <br>  egestas. Vestibulum totor <br> quam, feugiat vitae</div>
     
        <div class="txt3"><b> GOOGLE PLUS </b> <br> <b>MARKETING </b> <br> Pellentesque habitant morbi <br> tristique senectus et netus et <br> malesuada fames ac turrpis 
            <br>  egestas. Vestibulum totor <br> quam, feugiat vitae</div>
    </body>
    